<div class="container">

{{> navbar/navbar}}

</div>


<div class="form-group container">
    
    <h2>Input which activity you performed today.</h2>
    <p>You may enter a complete sentence. i.e. I did 30 mins of yoga, or I ran 2 miles, or I cycled for 50 mins.</p>
    
    <label for="run" class="col-md-3 control-label">Activity</label>
     <div class="col-md-9">
        <input type="text" class="form-control" name="run" id="runTime" placeholder="Please include miles or mis">
     </div>
    </div>

          <div style="margin-top:10px" class="form-group">
              <div class="col-sm-12 controls">
                <button class="btn btn-success" id="caloriesButton" type="submit">Activity Tracker</button>
              </div>
          </div>
            </div>
          </div>    
      </form> 
    <div class="container" id="activity"></div>

 {{> footer/footer}}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="js/fitness.js"></script>