    <form id="signup" class="form-horizontal" role="form">             
        {{!-- field 1--}}
        <div class="form-group">
            <label for="foodItem1" class="col-md-3 control-label">Food Item </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="foodItem1" id="food1" placeholder="First Food Item">
            </div>
        </div>
        {{!-- field 2--}}
        <div class="form-group">
            <label for="foodItem2" class="col-md-3 control-label">Food Item</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="foodItem2" id="food2" placeholder="Second Food Item">
            </div>
        </div>
        {{!-- field 3--}}
        <div class="form-group">
            <label for="foodItem3" class="col-md-3 control-label">Food Item</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="foodItem3" id="food3" placeholder="Third Food Item">
            </div>
        </div>
        {{!-- submit --}}
        <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <button class="btn btn-success" id="caloriesButton" type="submit"> Calories</button>
            </div>
        </div>    
    </form> 
