 <div class="container">

   {{> navbar/navbar}}
</div>

<div class="container">
   <div class="row">
    {{!-- {{> dashboardCard/userProfilePicCard}} --
    {{> dashboardCard/memberDataCard}}
   </div>

   <div class="row">

   {{!-- {{> dashboardCard/userDataCard}} --
    {{> dashboardCard/fitnessAccomCard}}
    {{> dashboardCard/nutritionAccomCard}}

   </div>
 </div>
 
