
<div class="container">
  <div class="row">

<h1>Friends List <span class="member-name"></span></h2>
    <ul>
      {{#each userData}}
        <li>
        {{!-- facebook pic? --}}
          <img src="https://via.placeholder.com/100" class="card-img" alt="Profile Picture">
          <p><span class="label">Name:</span> {{this.first_name}} {{this.last_name}} </p>
          <p><span class="label">Lifetime:</span> {{this.lifetime_total}}</p>
        </li>
      {{/each}}
    </ul>
   </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>

</html>
