 <div class="container">

   {{> navbar/navbar}}
</div>

<div class="container">
   <div class="row">
   {{> dashboardCard/memberDataCard}}
   {{#each user}}
    <p>{{dbUser}}</p>
      
    
  {{/each}}
   </div>
</div>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script type="text/javascript" src="js/memberDataCard.js"></script> 