<footer class="footer" style="background-color: rgb(211, 209, 209)">
    <div class="container">
       <a>Copyright © 2020 funACTIV Inc. All Rights Reserved</a>&nbsp;&nbsp;&nbsp;
       <span class="text-muted">Contact Us
            {{!-- <img scr="https://cdn.clipart.email/e78a9b9fee810e75b5af4532395beb07_social-sweepstakes-orangesoda-socialpromoicons-facebook-twitter-_820-221.jpeg"
            class="card-img" alt="social media links"> --}}
        </span>
        <a href="funACTIV.com">funACTIV.com</a>&nbsp;&nbsp;&nbsp;
        <a>Careers</a>&nbsp;&nbsp;&nbsp;
        <a>Privacy</a>&nbsp;&nbsp;&nbsp;
        <a>Terms</a>&nbsp;&nbsp;&nbsp;
        <a>Legal</a>&nbsp;&nbsp;&nbsp;
        <a>Site Map</a>
</div>
</footer>
