<div class="container">
<footer class="footer" style="background-color: rgb(211, 209, 209)">
        <span class="text-muted">Contact Us
            {{!-- <img scr="https://cdn.clipart.email/e78a9b9fee810e75b5af4532395beb07_social-sweepstakes-orangesoda-socialpromoicons-facebook-twitter-_820-221.jpeg"
            class="card-img" alt="social media links"> --}}
        </span>
        <a href="funACTIV.com">funACTIV.com</a>
</footer>
</div>