<div class="row">
  <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
      <div class="card-header">Fitness Stats</div>
      <div class="card-body">
        <h5 class="card-title"></h5>

        <p class="card-text">Your Weekly Totals: </p>
        <p class="card-text">Minutes active today: </p>
        <p class="card-text">Minutes active this week: </p>
        <p class="card-text">Minutes active this month: </p>     

  <div class="form-group">
      <label for="addMinutes" control-label>Add active minutes for today:</label>
    <div class="col-md-9">
          <input type="text" class="form-control" name="addMinutes" placeholder="Add Minutes">
      </div>
  </div>
       <a id="btn-addMinutes" href="#" class="btn btn-success">Add</a>        
</div>
</div>
</div>
