

<div class="card" style="width: 18rem;">

	<!--chnage the btn title-->
    <a href="#" class="btn btn-primary">Fitness Information Tab 'CHANGE ME'</a>
  </div>
</div>

<div class="row">
  <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
      <div class="card-header">Nutrition Stats Stats</div>
      <div class="card-body">
        <h5 class="card-title"></h5>

        <p class="card-text">Protein Total </p>
        <p class="card-text">Carb Total </p>
        <p class="card-text">Fat Total </p>    
</div>
</div>
</div>


<div class="row">
  <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
      <div class="card-header">Update Stats</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
<div class="form-group">
      <label for="addMinutes" control-label>Add Protein</label>
    <div class="col-md-9">
          <input type="text" class="form-control" name="addProtein" placeholder="Add Protein">
      </div>
  </div>
       <a id="btn-addProtein" href="#" class="btn btn-success">Add</a> 

      <label for="addMinutes" control-label>Add Carbs</label>
    <div class="col-md-9">
          <input type="text" class="form-control" name="addCarbs" placeholder="Add Carbs">
      </div>
  </div>
       <a id="btn-addCarbs" href="#" class="btn btn-success">Add</a> 

             <label for="addMinutes" control-label>Add Fats</label>
    <div class="col-md-9">
          <input type="text" class="form-control" name="addFats" placeholder="Add Fats">
      </div>
  </div>
       <a id="btn-addFats" href="#" class="btn btn-success">Add</a> 
