<div class="card" style="width: 18rem;">
  
  <!--could be an img tag-->
  <a href="..." class="card-img-top" alt="..."> </a>
  <div class="card-body">
    <h5 class="card-title">Member Data</h5>
    <h5 class="card-title">{{#}}<br>
          Location {{#}}<br>
          Member Since: {{#}}<br>
          Plan/Goal: {{#}}<br>
    </h5>


	<!--chnage the btn title-->
    <a href="#" class="btn btn-primary">Fitness Information Tab 'CHANGE ME'</a>
  </div>
</div>