
<div class="card" style="width: 18rem;">
  
  <!--could be an img tag-->
  <a href="..." class="card-img-top" alt="..."> </a>
  <div class="card-body">
    <h5 class="card-title">Fitness Accomplishments</h5>
    <p class="card-text">Your Weekly Totals:100</p>
	<p class="card-text">Minutes active today:100</p>
	<p class="card-text">Minutes active this week:100</p>
	<p class="card-text">Minutes active this month:100</p>

	<!--chnage the btn title-->
    <a href="#" class="btn btn-primary">Fitness Information Tab 'CHANGE ME'</a>
  </div>
</div>