


<div class="jumbotron jumbotron-fluid max-height: 500px">
 <div class="container">
   <div class="row">
      <div class="col-md-5">
        <img src="https://fotosforthefuture.com/wp-content/gallery/headshots/IMG_0778.jpg" class="card-img" alt="Profile Picture">
      </div>
      
      <div class="col-md-6" style="text-align: center">    
        <h1 class="display-4">{{this.firstName}} {{this.lastName}}</h1>
        <h4>    
          Houston, TX
          Member Since: {{this.timer}}<br>
          Goal: Lean Plan <br>
        </h4>
      </div>

    </div>
  </div>
</div>


