
<div class="card" style="width: 18rem;">
  
  <!--could be an img tag-->
  <img src="https://via.placeholder.com/100" class="card-img" alt="Profile Picture">
  <div class="card-body">
    <h5 class="card-title">Member Data</h5>
    <h5 class="card-title">Name: {{this.firstName}} {{this.lastName}}<br>
          Member Since: {{this.createdAT}}<br>
          Plan/Goal: 100<br>
    </h5>


	<!--chnage the btn title-->
    <a href="#" class="btn btn-primary">Fitness Information Tab 'CHANGE ME'</a>
  </div>
</div>

