

<div class="card" style="width: 18rem;">
  
  <!--could be an img tag-->
  <a href="..." class="card-img-top" alt="..."> </a>
  <div class="card-body">
    <h5 class="card-title">Nutritional Accomplishments</h5>
    <p class="card-text">Your Weekly Totals:</p>
      <p class="card-text"> Protien: {{#}}, Cards: {{#}}, Fats:{{#}}</p>
	  <p class="card-text">Daily Totals:</p>
      <p class="card-text"> Protien: {{#}}, Cards: {{#}}, Fats:{{#}}</p>

    <p class="card-text">Your Weekly Goal Totals:</p>
      <p class="card-text"> Protien: {{#}}, Cards: {{#}}, Fats:{{#}}</p>
	  <p class="card-text">Daily Goal Totals:</p>
      <p class="card-text"> Protien: {{#}}, Cards: {{#}}, Fats:{{#}}</p>


	<!--chnage the btn title-->
    <a href="#" class="btn btn-primary">Fitness Information Tab 'CHANGE ME'</a>
  </div>
</div>