      <div class="card text-white bg-info mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
      <div class="col-md-4">
          <!--<img src="https://via.placeholder.com/100" class="card-img" alt="...">-->
          </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">Fitness Accomplishments: </p>
            <p class="card-text">Nutrition Accomplishments: <br>
            Calories: 100<br>
            Carbs: 100<br>
            Protein: 100<br>
            Fats: 100</p>
          <!--add time stamp here-->
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago 100</small></p>
          </div>
        </div>
      </div>
    </div>